body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 20px 10px 10px;
    border: solid 1px black;
    max-width: fit-content;
}